<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<body>
    <div class="admin-container">
        <h2>Welcome, Admin!</h2>
        <nav>
            <ul>
                <li><a href="newSong">Add a new Song</a></li>
                <li><a href="viewSongs">View all new Songs</a></li>
                <li><a href="createPlaylist">Create Playlist</a></li>
                <li><a href="viewPlaylists">View all Playlists</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
